{% extends "layout.html" %}

{% block hitcount %}
	{% for entry in entries %}
		{% if entry.hitcount %}
			Homepage Views So Far: <bold>{{ entry.hitcount }}</bold>
		{% endif %}
	{% endfor %}
{% endblock %}

{% block body %}
	<div class="content">
		<div>
		{% for message in get_flashed_messages() %}
			<div class=flash>{{ message }}</div>
		{% endfor %}
		<!-- A wrapper for all the blog posts -->
			<div class="posts">
				<h1 class="content-subhead">Most Recent Post</h1>
				<!-- A single blog post -->
				{% if not entries[0].hitcount %}
					<section class="post">
						<header class="post-header">
							<h2 class="post-title">{{ entries[0].post_title }}</h2>
							<p class="post-meta">
								By <a href="{{ url_for('collaborator', coll_first=entries[0].firstname, coll_last=entries[0].lastname) }}" class="post-author"> {{ entries[0].firstname }} {{ entries[0].lastname }} </a> under
								{% if entries[0].charity == "American Red Cross" %}<a class="post-category post-category-arc">
								{% else %}<a>
								{% endif %}
								{{ entries[0].charity }}</a>
							</p>
						</header>

						<div class="post-description">
							<p>{{ entries[0].about }}</p>
						</div>
					</section>
				{% endif %}
			</div>

			<div class="posts">
				<h1 class="content-subhead">Past Posts</h1>
				{% for entry in entries %}
					{% if entry != entries[0] and not entry.hitcount %}
						<section class="post">
							<header class="post-header">
								<h2 class="post-title">{{ entry.post_title }}</h2>
								<p class="post-meta">
									By <a href="{{ url_for('collaborator', coll_first=entry.firstname, coll_last=entry.lastname) }}" class="post-author"> {{ entry.firstname }} {{ entry.lastname }} </a> under
									{% if entry.charity == "American Cancer Society" %}<a class="post-category post-category-acs">
									{% endif %}
									{% if entry.charity == "American Red Cross" %}<a class="post-category post-category-arc">
									{% endif %}
									{% if entry.charity == "Alzheimer's Association" %}<a class="post-category post-category-aa">
									{% endif %}
									{{ entry.charity }}</a>
								</p>
							</header>
							<div class="post-description">
								<p>{{ entry.about }}</p>
							</div>
						</section>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
